@if(style() === 'vertical' && variant === 'product_box_one'){
<app-product-box-one [product]="product()!" />
} @else if (style() === 'vertical' && variant === 'product_box_two') {
<app-product-box-two [product]="product()!" />
} @else if (style() === 'vertical' && variant === 'product_box_three') {
<app-product-box-three [product]="product()!" />
} @else if (style() === 'vertical' && variant === 'product_box_four') {
<app-product-box-four [product]="product()!" />
} @else if (style() === 'vertical' && variant === 'product_box_five') {
<app-product-box-five [product]="product()!" />
} @else if (style() === 'vertical' && variant === 'product_box_six') {
<app-product-box-six [product]="product()!" />
} @else if (style() === 'vertical' && variant === 'product_box_seven') {
<app-product-box-seven [product]="product()!" />
} @else if (style() === 'vertical' && variant === 'product_box_eight') {
<app-product-box-eight [product]="product()!" />
} @else if (style() === 'vertical' && variant === 'product_box_nine') {
<app-product-box-nine [product]="product()!" />
} @else if (style() === 'vertical' && variant === 'product_box_ten') {
<app-product-box-ten [product]="product()!" />
} @else if (style() === 'vertical' && variant === 'product_box_eleven') {
<app-product-box-eleven [product]="product()!" />
} @else if (style() === 'vertical' && variant === 'product_box_twelve') {
<app-product-box-twelve [product]="product()!" />
} @else if (style() === 'horizontal') {
<app-product-box-horizontal [product]="product()!" [product_box_style]="product_box_style()!" />
}
