<form class="theme-form theme-form-2 mega-form" [formGroup]="form" (ngSubmit)="submit()">
  <app-form-fields [label]="'license_key' | translate" [for]="'license_key'" [required]="true">
    <textarea
      class="form-control"
      placeholder="{{'enter_license_key' | translate }}"
      formControlName="license_key"
      rows="3"
    ></textarea>
    @if(form.controls['license_key'].touched && form.controls['license_key'].errors?.['required']){
    <div class="invalid-feedback">{{'license_key_is_required' | translate }}</div>
    }
  </app-form-fields>

  <app-form-fields [label]="'separator'" [for]="'separator'" [required]="true">
    @if(isBrowser) {
    <select2
      class="custom-select d-block"
      [data]="separators.length ? separators : []"
      [placeholder]="'select_separator' | translate"
      formControlName="separator"
      noResultMessage="{{ 'no_data_found' | translate }}"
    />
    } @if(form.controls['separator'].touched && form.controls['separator'].errors?.['required']){
    <div class="invalid-feedback">{{'separator_is_required' | translate }}</div>
    }
  </app-form-fields>

  <app-form-fields [label]="'product'" [for]="'product'" [required]="true">
    @if(isBrowser) {
    <select2
      class="custom-select"
      [templates]="template"
      [data]="(product$ | async)?.length ? (product$ | async) : []"
      [placeholder]="'select_product' | translate"
      [customSearchEnabled]="true"
      (update)="updateProduct($event)"
      (close)="productDropdown($event)"
      (search)="searchProduct($event)"
      noResultMessage="{{ 'no_data_found' | translate }}"
    >
      <ng-template #template let-data="data">
        <div class="image">
          <img [src]="data.image" [class]="'img-fluid selection-image'" alt="img"/>
        </div>
        {{ data.name }}
      </ng-template>
    </select2>
    } @if(form.controls['product_id'].touched && form.controls['product_id'].errors?.['required']){
    <div class="invalid-feedback">{{'product_is_required' | translate }}</div>
    }
  </app-form-fields>

  <app-form-fields [label]="'status' | translate" [for]="'status'" [required]="false">
    <div class="form-check form-switch ps-0">
      <label class="switch">
        <input type="checkbox" id="status" formControlName="status" />
        <span class="switch-state"></span>
      </label>
    </div>
  </app-form-fields>

  <app-button [id]="'key_btn'"
    >{{ (type() === 'create' ? 'save_key' : 'update_key') | translate }}</app-button
  >
</form>
