@if(style === 'header_one'){
<app-header-one [data]="(themeOption$ | async)" [sticky]="sticky" [logo]="logo()" />
} @if(style === 'header_two'){
<app-header-two [data]="(themeOption$ | async)" [sticky]="sticky" [logo]="logo()" />
} @if(style === 'header_three'){
<app-header-three [data]="(themeOption$ | async)" [sticky]="sticky" [logo]="logo()" />
} @if(style === 'header_four'){
<app-header-four [data]="(themeOption$ | async)" [sticky]="sticky" [logo]="logo()" />
} @if(style === 'header_five'){
<app-header-five [data]="(themeOption$ | async)" [sticky]="sticky" [logo]="logo()" />
} @if(style === 'header_six'){
<app-header-six [path]="path" [data]="(themeOption$ | async)" [sticky]="sticky" [logo]="logo()" />
} @if(style === 'header_seven'){
<app-header-seven [data]="(themeOption$ | async)" [sticky]="sticky" [logo]="logo()" />
} @if(style === 'header_eight'){
<app-header-eight [data]="(themeOption$ | async)" [sticky]="sticky" [logo]="logo()" />
} @if(!(routes && routes.includes('product'))){
<app-mobile-menu />
}
