<ul class="image-select-list cursor-pointer">
  <li class="choosefile-input" (click)="MediaModal().openModal()">
    <div class="media-img-box">
      <img src="assets/images/add-image.png" class="img-fluid add-icon" alt="img"/>
    </div>
  </li>

  @for(img of showImages; track img; let i = $index;){
  <li>
    @if(img){
    <div class="media-img-box">
      @if(img && img.mime_type && img.mime_type.startsWith('image')){
      <img src="{{ img?.original_url }}" alt="image" class="img-fluid" />
      }@else {
      <img [src]="getMimeTypeImage(img.mime_type)" class="img-fluid" alt="image" />
      }
      <a
        href="javascript:void(0)"
        class="remove-icon"
        id="remove-icon{{i}}"
        (click)="remove(i, 'multiple');"
        ><i class="ri-close-line text-white"></i
      ></a>
    </div>
    <h6>{{ img?.file_name }}</h6>
    }
  </li>
  } @if(showImage){
  <li>
    <div class="media-img-box">
      @if(showImage && showImage.mime_type && showImage.mime_type.startsWith('image')){
      <img src="{{ showImage.original_url }}" alt="image" class="img-fluid" />
      }@else {
      <img [src]="getMimeTypeImage(showImage.mime_type)" class="img-fluid" alt="image" />
      }
      <a href="javascript:void(0)" class="remove-icon" (click)="remove(showImage.id, 'single')"
        ><i class="ri-close-line text-white"></i
      ></a>
    </div>
    <h6>{{ showImage.file_name }}</h6>
  </li>
  } @if(showImageUrl){
  <li>
    <div class="media-img-box">
      @if(videoType.includes(showImageUrl.substring(showImageUrl.lastIndexOf('.') + 1))){
      <img src="assets/images/video.png" class="img-fluid" alt="image" />
      }@else {
      <img [src]="StorageURL+showImageUrl" alt="image" class="img-fluid" />
      }
      <a href="javascript:void(0)" class="remove-icon" (click)="remove(1, 'single_image_url')"
        ><i class="ri-close-line text-white"></i
      ></a>
    </div>
  </li>
  }
</ul>

@if(helpText()){
<p class="help-text">{{ helpText() }}</p>
}

<app-media-modal
  [multipleImage]="multipleImage()"
  [url]="url()"
  [accept]="accept()"
  [selectedImagesIds]="showImage ? showImage : showImages?.length ? showImages : showImageUrl ? showImageUrl : []"
  (selectImage)="selectImage($event, url())"
  #mediaModal
/>
