<app-page-wrapper [gridClass]="'col-sm-12'" [title]="'goggles_settings'">
  <form class="theme-form theme-form-2 mega-form" (ngSubmit)="submit()" [formGroup]="form">
    <div class="vertical-tabs">
      <div class="row">
        <div class="col-xl-3 col-lg-4">
          <ul
            ngbNav
            #nav="ngbNav"
            [(activeId)]="active"
            class="nav-pills"
            orientation="vertical"
            formGroupName="content"
          >
            <li ngbNavItem="home_banner">
              <a ngbNavLink><i class="ri-record-circle-line"></i>{{ 'home_banner' | translate }}</a>
              <ng-template ngbNavContent>
                <div formGroupName="home_banner">
                  <app-button
                    [class]="'btn btn-animation mb-3'"
                    [id]="'add_banners_btn'"
                    (click)="addHomeBanner($event)"
                    [spinner]="false"
                  >
                    {{ 'add_banners' | translate }}
                  </app-button>

                  @if(homeBannersArray?.controls?.length){
                  <div class="shipping-accordion variant-accordion">
                    <div formArrayName="banners">
                      <ng-container>
                        @for(banners of homeBannersArray.controls; track banners; let i = $index){
                        <div class="d-flex" formGroupName="{{ i }}">
                          <div class="col-11">
                            <div ngbAccordion>
                              <div ngbAccordionItem [collapsed]="false">
                                <div ngbAccordionHeader>
                                  <button ngbAccordionButton>
                                    {{ 'banner' | translate }} {{(i+1)}}
                                  </button>
                                </div>
                                <div ngbAccordionCollapse>
                                  <div ngbAccordionBody>
                                    <ng-template>
                                      <app-form-fields [label]="'image'" [for]="'image_url'">
                                        <app-image-upload
                                          [url]="true"
                                          [accept]="[mediaConfig.image]"
                                          [multipleImage]="false"
                                          [helpText]="'*Upload image size 376x231px recommended'"
                                          [imageUrl]="form.get('content.home_banner.banners')?.value[i].image_url"
                                          (selectedFiles)="selectHomeBannerArray($event, i )"
                                        />
                                      </app-form-fields>

                                      <app-link
                                        (productFilter)="getProducts($event)"
                                        [products]="(product$ | async)?.length ? (product$ | async) : []"
                                        [linkForm]="banners.get('redirect_link')"
                                      />

                                      <app-form-fields [label]="'status'" [for]="'status'+i">
                                        <div class="form-check form-switch ps-0">
                                          <label class="switch">
                                            <input
                                              type="checkbox"
                                              id="status"
                                              formControlName="status"
                                            />
                                            <span class="switch-state"></span>
                                          </label>
                                        </div>
                                      </app-form-fields>
                                    </ng-template>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-1 text-center fs-20">
                            <a
                              href="javascript:void(0)"
                              (click)="removeHomeBanner(i)"
                              class="invalid-feedback text-end cursor-pointer d-inline-block w-auto mt-2"
                            >
                              <i class="ri-close-line"></i
                            ></a>
                          </div>
                        </div>
                        }
                      </ng-container>
                    </div>
                  </div>
                  }
                </div>
              </ng-template>
            </li>

            <li ngbNavItem="services">
              <a ngbNavLink><i class="ri-record-circle-line"></i>{{ 'services' | translate }}</a>
              <ng-template ngbNavContent>
                <div formGroupName="services">
                  <app-button
                    [class]="'btn btn-animation mb-3'"
                    [id]="'add_banners_btn'"
                    (click)="addServiceBanner($event)"
                    [spinner]="false"
                  >
                    {{ 'add_banners' | translate }}
                  </app-button>

                  @if(servicesArray?.controls?.length){
                  <div class="shipping-accordion variant-accordion">
                    <div formArrayName="banners">
                      <ng-container>
                        @for(banners of servicesArray.controls; track banners; let i = $index){
                        <div class="d-flex" formGroupName="{{ i }}">
                          <div class="col-11">
                            <div ngbAccordion>
                              <div ngbAccordionItem [collapsed]="false">
                                <div ngbAccordionHeader>
                                  <button ngbAccordionButton>
                                    {{ 'service' | translate }} {{(i+1)}}
                                  </button>
                                </div>
                                <div ngbAccordionCollapse>
                                  <div ngbAccordionBody>
                                    <ng-template>
                                      <app-form-fields [label]="'title'" [for]="'title'">
                                        <input
                                          class="form-control"
                                          id="title"
                                          type="text"
                                          placeholder="{{ 'enter_title' | translate }}"
                                          formControlName="title"
                                        />
                                      </app-form-fields>

                                      <app-form-fields
                                        [label]="'description'"
                                        [for]="'description'"
                                      >
                                        <input
                                          class="form-control"
                                          id="description"
                                          type="text"
                                          placeholder="{{ 'enter_description' | translate }}"
                                          formControlName="description"
                                        />
                                      </app-form-fields>

                                      <app-form-fields [label]="'image'" [for]="'image_url'">
                                        <app-image-upload
                                          [url]="true"
                                          [accept]="[mediaConfig.image]"
                                          [multipleImage]="false"
                                          [helpText]="'*Upload image size 375x586px recommended'"
                                          [imageUrl]="form.get('content.services.banners')?.value[i].image_url"
                                          (selectedFiles)="selectServiceImage($event, i)"
                                        />
                                      </app-form-fields>

                                      <app-form-fields [label]="'status'" [for]="'status'">
                                        <div class="form-check form-switch ps-0">
                                          <label class="switch">
                                            <input
                                              type="checkbox"
                                              id="status"
                                              formControlName="status"
                                            />
                                            <span class="switch-state"></span>
                                          </label>
                                        </div>
                                      </app-form-fields>
                                    </ng-template>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-1 text-center fs-20">
                            <a
                              href="javascript:void(0)"
                              (click)="removeServiceBanner(i)"
                              class="invalid-feedback text-end cursor-pointer d-inline-block w-auto mt-2"
                            >
                              <i class="ri-close-line"></i
                            ></a>
                          </div>
                        </div>
                        }
                      </ng-container>
                    </div>
                  </div>
                  }
                </div>
              </ng-template>
            </li>

            <li ngbNavItem="offer_banner">
              <a ngbNavLink
                ><i class="ri-record-circle-line"></i>{{ 'offer_banner' | translate }}</a
              >
              <ng-template ngbNavContent>
                <div formGroupName="offer_banner">
                  <div class="inside-horizontal-tabs">
                    <ul ngbNav #nav="ngbNav" [(activeId)]="banner" class="nav-tabs">
                      <li [ngbNavItem]="1">
                        <a ngbNavLink>{{ 'banner' | translate }} 1</a>
                        <ng-template ngbNavContent>
                          <div formGroupName="banner_1">
                            <app-form-fields [label]="'image'" [for]="'image_url'">
                              <app-image-upload
                                [url]="true"
                                [accept]="[mediaConfig.image]"
                                [multipleImage]="false"
                                [helpText]="'*Upload image size 806x670px recommended'"
                                [imageUrl]="form.get('content.offer_banner.banner_1.image_url')?.value"
                                (selectedFiles)="selectImage($event, 'content.offer_banner.banner_1.image_url')"
                              />
                            </app-form-fields>

                            <app-link
                              (productFilter)="getProducts($event)"
                              [products]="(product$ | async)?.length ? (product$ | async) : []"
                              [linkForm]="form.get('content.offer_banner.banner_1.redirect_link')"
                            />

                            <app-form-fields [label]="'status'" [for]="'status'">
                              <div class="form-check form-switch ps-0">
                                <label class="switch">
                                  <input type="checkbox" id="status" formControlName="status" />
                                  <span class="switch-state"></span>
                                </label>
                              </div>
                            </app-form-fields>
                          </div>
                        </ng-template>
                      </li>

                      <li [ngbNavItem]="2">
                        <a ngbNavLink>{{ 'banner' | translate }} 2</a>
                        <ng-template ngbNavContent>
                          <div formGroupName="banner_2">
                            <app-form-fields [label]="'image'" [for]="'image_url'">
                              <app-image-upload
                                [url]="true"
                                [accept]="[mediaConfig.image]"
                                [multipleImage]="false"
                                [helpText]="'*Upload image size 806x670px recommended'"
                                [imageUrl]="form.get('content.offer_banner.banner_2.image_url')?.value"
                                (selectedFiles)="selectImage($event, 'content.offer_banner.banner_2.image_url')"
                              />
                            </app-form-fields>

                            <app-link
                              (productFilter)="getProducts($event)"
                              [products]="(product$ | async)?.length ? (product$ | async) : []"
                              [linkForm]="form.get('content.offer_banner.banner_2.redirect_link')"
                            />

                            <app-form-fields [label]="'status'" [for]="'status'">
                              <div class="form-check form-switch ps-0">
                                <label class="switch">
                                  <input type="checkbox" id="status" formControlName="status" />
                                  <span class="switch-state"></span>
                                </label>
                              </div>
                            </app-form-fields>
                          </div>
                        </ng-template>
                      </li>

                      <li [ngbNavItem]="3">
                        <a ngbNavLink>{{ 'banner' | translate }} 3</a>
                        <ng-template ngbNavContent>
                          <div formGroupName="banner_3">
                            <app-form-fields [label]="'image'" [for]="'image_url'">
                              <app-image-upload
                                [url]="true"
                                [accept]="[mediaConfig.image]"
                                [multipleImage]="false"
                                [helpText]="'*Upload image size 806x670px recommended'"
                                [imageUrl]="form.get('content.offer_banner.banner_3.image_url')?.value"
                                (selectedFiles)="selectImage($event, 'content.offer_banner.banner_3.image_url')"
                              />
                            </app-form-fields>

                            <app-link
                              (productFilter)="getProducts($event)"
                              [products]="(product$ | async)?.length ? (product$ | async) : []"
                              [linkForm]="form.get('content.offer_banner.banner_3.redirect_link')"
                            />

                            <app-form-fields [label]="'status'" [for]="'status'">
                              <div class="form-check form-switch ps-0">
                                <label class="switch">
                                  <input type="checkbox" id="status" formControlName="status" />
                                  <span class="switch-state"></span>
                                </label>
                              </div>
                            </app-form-fields>
                          </div>
                        </ng-template>
                      </li>
                    </ul>
                    <div [ngbNavOutlet]="nav" class="mt-3"></div>
                  </div>
                </div>
              </ng-template>
            </li>

            <li ngbNavItem="products_list">
              <a ngbNavLink
                ><i class="ri-record-circle-line"></i>{{ 'products_list' | translate }}</a
              >
              <ng-template ngbNavContent>
                <div formGroupName="products_list">
                  <app-form-fields [label]="'tag' | translate" [for]="'tag'">
                    <input
                      class="form-control"
                      id="tag"
                      type="text"
                      placeholder="{{ 'enter_tag' | translate }}"
                      formControlName="tag"
                    />
                  </app-form-fields>

                  <app-form-fields [label]="'title'" [for]="'title'">
                    <input
                      class="form-control"
                      id="title"
                      type="text"
                      placeholder="{{ 'enter_title' | translate }}"
                      formControlName="title"
                    />
                  </app-form-fields>

                  <app-form-fields [label]="'description'" [for]="'description'">
                    <input
                      class="form-control"
                      id="description"
                      type="text"
                      placeholder="{{ 'enter_description' | translate }}"
                      formControlName="description"
                    />
                  </app-form-fields>

                  <app-form-fields [label]="'product'" [for]="'product_ids'">
                    @if(isBrowser) {
                    <select2
                      class="custom-select"
                      [templates]="template"
                      [data]="(product$ | async)?.length ? (product$ | async) : []"
                      [placeholder]="'select_product' | translate "
                      formControlName="product_ids"
                      noResultMessage="{{'no_data_found' | translate }}"
                      [customSearchEnabled]="true"
                      (close)="productDropdown($event)"
                      (search)="searchProduct($event)"
                      multiple="true"
                      resettable
                    >
                      <ng-template #template let-data="data">
                        <div class="image">
                          <img [src]="data.image" [class]="'img-fluid selection-image'" alt="img"/>
                        </div>
                        {{ data.name }}
                      </ng-template>
                    </select2>
                    }
                  </app-form-fields>

                  <app-form-fields [label]="'status'" [for]="'status'">
                    <div class="form-check form-switch ps-0">
                      <label class="switch">
                        <input type="checkbox" id="status" formControlName="status" />
                        <span class="switch-state"></span>
                      </label>
                    </div>
                  </app-form-fields>
                </div>
              </ng-template>
            </li>

            <li ngbNavItem="full_banner">
              <a ngbNavLink><i class="ri-record-circle-line"></i>{{ 'full_banner' | translate }}</a>
              <ng-template ngbNavContent>
                <div formGroupName="full_banner">
                  <app-form-fields [label]="'status'" [for]="'status'">
                    <div class="form-check form-switch ps-0">
                      <label class="switch">
                        <input type="checkbox" id="status" formControlName="status" />
                        <span class="switch-state"></span>
                      </label>
                    </div>
                  </app-form-fields>

                  <app-form-fields [label]="'image'" [for]="'image_url'">
                    <app-image-upload
                      [url]="true"
                      [multipleImage]="false"
                      [accept]="[mediaConfig.image]"
                      [helpText]="'*Upload image size 1920x1018px recommended'"
                      [imageUrl]="form.get('content.full_banner.image_url')?.value"
                      (selectedFiles)="selectImage($event, 'content.full_banner.image_url')"
                    />
                  </app-form-fields>

                  <app-link
                    (productFilter)="getProducts($event)"
                    [products]="(product$ | async)?.length ? (product$ | async) : []"
                    [linkForm]="form.get('content.full_banner.redirect_link')"
                  />
                </div>
              </ng-template>
            </li>

            <li ngbNavItem="category_product">
              <a ngbNavLink
                ><i class="ri-record-circle-line"></i>{{ 'category_product' | translate }}</a
              >
              <ng-template ngbNavContent>
                <div formGroupName="category_product">
                  <app-form-fields [label]="'categories'" [for]="'type'">
                    <app-advance-dropdown
                      [position]="'bottom'"
                      [selectedOption]="selectedCategories"
                      [options]="(category$ | async)?.data?.length ? (category$ | async )?.data : []"
                      [subArrayKey]="'subcategories'"
                      (selectedItem)="selectCategoryItem($event, 'content.category_product.category_ids')"
                    />
                  </app-form-fields>

                  <app-form-fields [label]="'status'" [for]="'status'">
                    <div class="form-check form-switch ps-0">
                      <label class="switch">
                        <input type="checkbox" id="status" formControlName="status" />
                        <span class="switch-state"></span>
                      </label>
                    </div>
                  </app-form-fields>
                </div>
              </ng-template>
            </li>

            <li ngbNavItem="social_media">
              <a ngbNavLink
                ><i class="ri-record-circle-line"></i>{{ 'social_media' | translate }}</a
              >
              <ng-template ngbNavContent>
                <div formGroupName="social_media">
                  <app-form-fields [label]="'title'" [for]="'title'">
                    <input
                      class="form-control"
                      id="title"
                      type="text"
                      placeholder="{{ 'enter_title' | translate }}"
                      formControlName="title"
                    />
                  </app-form-fields>

                  <app-form-fields [label]="'status'" [for]="'status'">
                    <div class="form-check form-switch ps-0">
                      <label class="switch">
                        <input type="checkbox" id="status" formControlName="status" />
                        <span class="switch-state"></span>
                      </label>
                    </div>
                  </app-form-fields>

                  <app-button
                    [class]="'btn btn-animation mb-3'"
                    [id]="'add_banners_btn'"
                    (click)="addSocialMediaBanner($event)"
                    [spinner]="false"
                  >
                    {{ 'add_banners' | translate }}
                  </app-button>

                  @if(socialMediaArray?.controls?.length){
                  <div class="shipping-accordion variant-accordion">
                    <div formArrayName="banners">
                      <ng-container>
                        @for(banners of socialMediaArray.controls; track banners; let i = $index){
                        <div class="d-flex" formGroupName="{{ i }}">
                          <div class="col-11">
                            <div ngbAccordion>
                              <div ngbAccordionItem [collapsed]="false">
                                <div ngbAccordionHeader>
                                  <button ngbAccordionButton>
                                    {{ 'social_media' | translate }} {{(i+1)}}
                                  </button>
                                </div>
                                <div ngbAccordionCollapse>
                                  <div ngbAccordionBody>
                                    <ng-template>
                                      <app-form-fields [label]="'image'" [for]="'image_url'">
                                        <app-image-upload
                                          [url]="true"
                                          [accept]="[mediaConfig.image]"
                                          [multipleImage]="false"
                                          [helpText]="'*Upload image size 375x586px recommended'"
                                          [imageUrl]="form.get('content.social_media.banners')?.value[i].image_url"
                                          (selectedFiles)="selectSocialMediaImage($event, i)"
                                        />
                                      </app-form-fields>

                                      <app-link
                                        (productFilter)="getProducts($event)"
                                        [products]="(product$ | async)?.length ?
                                                               (product$ | async) : []"
                                        [linkForm]="banners.get('redirect_link')"
                                      />

                                      <app-form-fields [label]="'status'" [for]="'status'">
                                        <div class="form-check form-switch ps-0">
                                          <label class="switch">
                                            <input
                                              type="checkbox"
                                              id="status"
                                              formControlName="status"
                                            />
                                            <span class="switch-state"></span>
                                          </label>
                                        </div>
                                      </app-form-fields>
                                    </ng-template>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-1 text-center fs-20">
                            <a
                              href="javascript:void(0)"
                              (click)="removeSocialMediaBanner(i)"
                              class="invalid-feedback text-end cursor-pointer d-inline-block w-auto mt-2"
                            >
                              <i class="ri-close-line"></i
                            ></a>
                          </div>
                        </div>
                        }
                      </ng-container>
                    </div>
                  </div>
                  }
                </div>
              </ng-template>
            </li>

            <li ngbNavItem="brand">
              <a ngbNavLink><i class="ri-record-circle-line"></i>{{ 'brand' | translate }}</a>
              <ng-template ngbNavContent>
                <div formGroupName="brand">
                  <app-form-fields [label]="'brand'" [for]="'type'">
                    @if(isBrowser) {
                    <select2
                      class="custom-select"
                      [data]="(brand$ | async)?.length ? (brand$ | async) : []"
                      [placeholder]="'select_brand' | translate "
                      formControlName="brand_ids"
                      noResultMessage="{{'no_data_found' | translate }}"
                      multiple="true"
                    />
                    }
                  </app-form-fields>

                  <app-form-fields [label]="'status'" [for]="'status'">
                    <div class="form-check form-switch ps-0">
                      <label class="switch">
                        <input type="checkbox" id="status" formControlName="status" />
                        <span class="switch-state"></span>
                      </label>
                    </div>
                  </app-form-fields>
                </div>
              </ng-template>
            </li>
          </ul>
        </div>
        <div class="col-xl-7 col-lg-8">
          <div [ngbNavOutlet]="nav"></div>
        </div>
      </div>
      <app-button [id]="'theme_1_submit'" *hasPermission="'theme.edit'">
        {{ 'submit' | translate }}
      </app-button>
    </div>
  </form>
</app-page-wrapper>
