<div class="product-box">
  <div class="product-image">
    <img
      [src]="product()?.product_thumbnail 
                ? product()?.product_thumbnail?.original_url 
                : 'assets/images/product.png'"
      class="img-fluid blur-up lazyload"
      alt="product"
    />
  </div>
  <div class="product-detail">
    @if(url){
    <a href="{{url}}/product/{{product().slug}}" target="_blank">
      <h6 class="name name-2 h-100">{{product()?.name}}</h6>
    </a>
    }@else {
    <h6 class="name name-2 h-100">{{product()?.name}}</h6>
    }
    <h6 class="sold weight text-content fw-normal text-capitalize">
      @if(product()?.unit){
      <span>{{product()?.unit}}</span>
      }
    </h6>
    <div class="counter-box">
      <h6 class="sold theme-color">{{product()?.sale_price | currencySymbol}}</h6>
      <div class="addtocart_btn">
        @if(product()?.product_type !== 'external'){ @if(product().stock_status === 'in_stock'){
        <app-button
          [id]="product().type === 'classified'? '':'addcartbtn'+product()?.id"
          [class]="'add-button addcart-button btn buy-button'"
          [iconClass]="'ri-add-line'"
          (click)="addToCartModal.openModal(product())"
          [spinner]="false"
        >
          {{ 'add' | translate }}
        </app-button>
        }@else {
        <app-button [class]="'add-button addcart-button btn buy-button disabled'" [disabled]="true">
          {{ 'out_of_stock' | translate }}
        </app-button>
        }
        <ng-template #outStock />
        }@else {
        <app-button
          [id]="'externalBtn'+product().id"
          [class]="'add-button addcart-button btn buy-button'"
          [spinner]="false"
          (click)="externalProductLink(product().external_url)"
        >
          {{ product().external_button_text ? product().external_button_text : 'Buy Now' }}
        </app-button>
        }
      </div>
    </div>
  </div>
</div>
<app-add-to-cart #addToCartModal />
