<section class="log-in-section section-b-space">
  <div class="container w-100">
    <div class="row">
      <div class="col-xl-5 col-lg-6 m-auto">
        <app-alert />
        <div class="log-in-box">
          <div class="log-in-title">
            <img
              [src]="(setting$ | async)?.general?.dark_logo_image?.original_url"
              class="img-fluid logo-img"
              alt=""
            />
            <h4>{{ 'forgot_password' | translate }}</h4>
          </div>
          <div class="input-box">
            <form class="row g-4" [formGroup]="form" (ngSubmit)="submit();">
              <div class="col-12">
                <div class="form-floating theme-form-floating log-in-form">
                  <input
                    type="email"
                    class="form-control"
                    formControlName="email"
                    id="email"
                    placeholder="{{ 'email_address' | translate }}"
                  />
                  <label for="email">{{ 'enter_email_address'| translate }}</label>

                  @if(form.controls['email'].touched &&
                  form.controls['email'].errors?.['required']){
                  <div class="invalid-feedback">{{ 'email_is_required' | translate }}</div>
                  } @if(form.controls['email'].touched && form.controls['email'].errors?.['email']){
                  <div class="invalid-feedback">{{ 'invalid_email' | translate }}</div>
                  }
                </div>
              </div>
              <div class="col-12">
                <app-button
                  [class]="'btn btn-theme w-100 justify-content-center'"
                  [id]="'forgot_btn'"
                >
                  {{ 'send' | translate }}
                </app-button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
