<section class="log-in-section section-b-space">
  <div class="container w-100">
    <div class="row">
      <div class="col-xl-7 m-auto">
        <app-alert />
        <div class="log-in-box">
          <div class="log-in-title">
            <img
              [src]="(setting$ | async)?.general?.dark_logo_image?.original_url"
              class="img-fluid logo-img"
              alt=""
            />
            <h4>{{ 'setup_your_store_information' | translate }}</h4>
          </div>
          <div class="input-box">
            <form class="row g-4" [formGroup]="form" (ngSubmit)="submit();">
              <div class="col-sm-6">
                <div class="form-floating theme-form-floating log-in-form">
                  <input
                    type="name"
                    class="form-control"
                    id="name"
                    formControlName="name"
                    placeholder="{{ 'name' | translate }}"
                  />
                  <label for="name">{{ 'name' | translate }}</label>
                  @if(form.controls['name'].touched && form.controls['name'].errors?.['required']){
                  <div class="invalid-feedback">{{ 'name_is_required' | translate }}</div>
                  }
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-floating theme-form-floating log-in-form">
                  <input
                    type="email"
                    class="form-control"
                    id="email"
                    formControlName="email"
                    placeholder="{{ 'email_address' | translate }}"
                  />
                  <label for="email">{{ 'email_address' | translate }}</label>
                  @if(form.controls['email'].touched &&
                  form.controls['email'].errors?.['required']){
                  <div class="invalid-feedback">{{ 'email_is_required' | translate }}</div>
                  } @if(form.controls['email'].touched && form.controls['email'].errors?.['email']){
                  <div class="invalid-feedback">{{ 'invalid_email' | translate }}</div>
                  }
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-floating theme-form-floating log-in-form">
                  <input
                    type="password"
                    class="form-control"
                    id="password"
                    formControlName="password"
                    placeholder="{{ 'password' | translate }} "
                  />
                  <label for="password">{{ 'password' | translate }}</label>
                  @if(form.controls['password'].touched &&
                  form.controls['password'].errors?.['required']){
                  <div class="invalid-feedback">{{ 'password_is_required' | translate }}</div>
                  }
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-floating theme-form-floating log-in-form">
                  <input
                    type="password"
                    class="form-control"
                    id="confirm_password"
                    formControlName="password_confirmation"
                    placeholder="{{ 'confirm_password' | translate }} "
                  />
                  <label for="confirm_password">{{ 'confirm_password' | translate }}</label>
                  @if(form.controls['password_confirmation'].touched &&
                  form.controls['password_confirmation'].errors?.['required']){
                  <div class="invalid-feedback">
                    {{ 'confirm_password_is_required' | translate }}
                  </div>
                  }@else { @if(passwordMatchError){
                  <div class="invalid-feedback">
                    {{ 'confirm_password_does_not_matched' | translate }}
                  </div>
                  } }
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-floating theme-form-floating log-in-form">
                  <input
                    type="text"
                    class="form-control"
                    id="store_name"
                    formControlName="store_name"
                    placeholder="{{ 'store_name' | translate }}"
                  />
                  <label for="store_name">{{ 'store_name' | translate }}</label>
                  @if(form.controls['store_name'].touched &&
                  form.controls['store_name'].errors?.['required']){
                  <div class="invalid-feedback">{{ 'store_name_is_required' | translate }}</div>
                  }
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-floating theme-form-floating log-in-form">
                  <textarea
                    type="text"
                    class="form-control"
                    id="store_description"
                    formControlName="description"
                    placeholder="{{ 'store_description' | translate }}"
                  ></textarea>
                  <label for="store_description">{{ 'store_description' | translate }}</label>
                  @if(form.controls['description'].touched &&
                  form.controls['description'].errors?.['required']){
                  <div class="invalid-feedback">{{ 'description_is_required' | translate }}</div>
                  }
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-floating theme-form-floating log-in-form">
                  @if(isBrowser){
                  <select2
                    class="custom-select"
                    [data]="(countries$ | async)?.length ? (countries$ | async) : []"
                    [placeholder]="'select_country' | translate"
                    formControlName="country_id"
                    (update)="countryChange($event)"
                    noResultMessage="{{ 'no_data_found' | translate }}"
                    resettable
                  />
                  } @if(form.controls['country_id'].touched &&
                  form.controls['country_id'].errors?.['required']){
                  <div class="invalid-feedback">{{ 'country_is_required' | translate }}</div>
                  }
                </div>
              </div>
              <div class="col-sm-4 col-6">
                <div class="form-floating theme-form-floating log-in-form">
                  @if(isBrowser){
                  <select2
                    class="custom-select"
                    [data]="(states$ | async)?.length ? (states$ | async) : [] "
                    [placeholder]="'select_state' | translate"
                    formControlName="state_id"
                    noResultMessage="{{ 'no_data_found' | translate }}"
                    resettable
                  />
                  } @if(form.controls['state_id'].touched &&
                  form.controls['state_id'].errors?.['required']){
                  <div class="invalid-feedback">{{ 'state_is_required' | translate }}</div>
                  }
                </div>
              </div>
              <div class="col-sm-4 col-6">
                <div class="form-floating theme-form-floating log-in-form">
                  <input
                    type="text"
                    class="form-control"
                    id="city"
                    formControlName="city"
                    placeholder="{{ 'city' | translate }}"
                  />
                  <label for="city">{{ 'city' | translate }}</label>
                  @if(form.controls['city'].touched && form.controls['city'].errors?.['required']){
                  <div class="invalid-feedback">{{ 'city_is_required' | translate }}</div>
                  }
                </div>
              </div>
              <div class="col-12">
                <div class="form-floating theme-form-floating log-in-form">
                  <textarea
                    type="text"
                    class="form-control"
                    id="address"
                    formControlName="address"
                    placeholder="{{ 'address' | translate }}"
                  ></textarea>
                  <label for="address">{{ 'address' | translate }}</label>
                  @if(form.controls['address'].touched &&
                  form.controls['address'].errors?.['required']){
                  <div class="invalid-feedback">{{ 'address_is_required' | translate }}</div>
                  }
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-floating theme-form-floating log-in-form">
                  <input
                    type="text"
                    class="form-control"
                    id="pincode"
                    formControlName="pincode"
                    placeholder="{{ 'pincode' | translate }}"
                  />
                  <label for="pincode">{{ 'pincode' | translate }}</label>
                  @if(form.controls['pincode'].touched &&
                  form.controls['pincode'].errors?.['required']){
                  <div class="invalid-feedback">{{ 'pincode_is_required' | translate }}</div>
                  }
                </div>
              </div>
              <div class="col-sm-6 phone-selection">
                <div class="form-floating theme-form-floating log-in-form">
                  @if(isBrowser){
                  <select2
                    class="custom-select intl-tel-input"
                    [templates]="template"
                    [data]="codes"
                    formControlName="country_code"
                    noResultMessage="{{ 'no_data_found' | translate }}"
                  >
                    <ng-template #template let-data="data">
                      <div class="country">
                        <div class="flag-box">
                          <div class="iti-flag {{data?.class}}"></div>
                        </div>
                        <span class="dial-code">{{data.code}}</span>
                      </div>
                    </ng-template>
                  </select2>
                  }
                  <input
                    type="number"
                    class="form-control intl-input-padding"
                    formControlName="phone"
                    placeholder="{{ 'enter_phone' | translate }}"
                    name="phone"
                  />
                  @if(form.controls['phone'].touched &&
                  form.controls['phone'].errors?.['required']){
                  <div class="invalid-feedback" autocomplete="false">
                    {{ 'phone_number_is_required' | translate }}
                  </div>
                  } @if(form.controls['phone'].touched &&
                  form.controls['phone'].errors?.['pattern']){
                  <div class="invalid-feedback">{{ 'phone_number_is_invalid' | translate }}</div>
                  }
                </div>
              </div>
              <div class="col-12">
                <app-button
                  [class]="'btn btn-theme btn-lg w-100 justify-content-center'"
                  [id]="'register_btn'"
                >
                  {{ 'submit' | translate }}
                </app-button>
                <div class="sign-up-box">
                  <h4>{{ 'already_have_account' | translate }}</h4>
                  <a [routerLink]="['/auth/login']">{{ 'log_in' | translate }}</a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
